<div data-ng-app="app" id="app" data-custom-background data-off-canvas-nav>
  <div data-ng-controller="AppCtrl">
    <div class="view-container" data-ng-cloak>
      <section ui-view="header" id="header" class="top-header"></section>
      <section id="content" class="animate-fade-up">
        <div class="container" ui-view="container"></div>
      </section>
    </div>
  </div>
</div>
