<section>
  <div data-ng-controller="studentsCtrl">{{students}}
    <div ng-hide="students.single.id" class="modal-header">
      <h3>Students</h3>
    </div>
    <div ng-show="students.single.id" class="modal-header">
      <h3>Edit Students</h3>
    </div>
    <div class="modal-body">
      <form name="student_form" role="form" class="form-validation" 
      novalidate>
        <fieldset>
          <div class="form-group" ng-class="{'has-error' : student_form.sname.$invalid && (!student_form.sname.$pristine || submitted)}">
            <label for="">SName</label>
            <span class="glyphicon glyphicon-asterisk"></span>
            <input type="text"
              class="form-control"
              required name= "sname"
              data-ng-model="students.single.sname"
              ng-maxlength="45">
            <div class="help-block" ng-show="student_form.sname.$error.required && (!student_form.sname.$pristine || submitted)"> SName is required. 
            </div>
            <div class="help-block" ng-show="student_form.semail.$error.maxlength && (!student_form.semail.$pristine || submitted)"> 
                SEmail is taking more than 45 characters. 
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error' : student_form.smobile.$invalid && (!student_form.smobile.$pristine || submitted) }">
            <label for="">SMobile</label>
            <span class="glyphicon glyphicon-asterisk"></span>
             <input type="text"
              class="form-control"
              required name= "smobile"
              data-ng-model="students.single.smobile"
              ng-maxlength="45">
            <div class="help-block" ng-show="student_form.smobile.$invalid && (!student_form.smobile.$pristine || submitted)">SMobile is required. 
            </div>  
          </div>
        </fieldset>
      </form>
      <div class="modal-footer">
        <button ng-hide="students.single.id" class="btn btn-primary"
          id="create_students" ng-click="ok(student_form.$valid,students.single)" type="button">Publish
        </button>
        <button ng-show="students.single.id" class="btn btn-default"
          id="update_students" ng-click="ok(student_form.$valid, students.single)" type="button">Update
        </button>
        <button class="btn btn-default" id="close" ng-click="cancel()">Cancel
        </button>
      </div>
    </div>
  </div>
  <div class="medium success info btn" ng-click="open()">
    <button ng-click="open()">Create Student</button>
  </div>
</section>