
<div class="page">
  <section class="panel panel-default">
    <div class="panel-body">
      <div data-ui-wizard-form>
        <h1>Show Students</h1>
        <div>
            <div class="container col-md-12 course-info">    
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong><span class="fa fa-users"></span> Batches</strong>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Timings</th>
                        <th>Instructor</th>  
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <input name="radio1" type="radio" value="option1" >
                        </td>
                        <td>BID001</td>
                        <td>Mathmetics-morning</td> 
                        <td>10-07-2014</td>
                        <td>10-08-2014</td> 
                        <td>M, W - 9:00 am - 10:00 am</td>
                        <td>Lisa Doe</td>
                      </tr>
                      <tr>
                        <td>
                          <input name="radio1" type="radio" value="option1" >
                        </td>
                        <td>BID002</td>
                        <td>Mathmetics-afternoon</td>  
                        <td>10-07-2014</td>
                        <td>10-08-2014</td> 
                        <td>Th, Su - 2:00 am - 3:00 pm</td>
                        <td>Lisa Doe</td>
                      </tr>
                    
                      <tr>
                        <td>
                          <input name="radio1" type="radio" value="option1" >
                        </td>
                        <td>BID003</td>
                        <td>Mathmetics-evening</td> 
                        <td>10-06-2014</td>
                        <td>10-07-2014</td>  
                        <td>F, T - 9:00 am - 10:00 pm</td>
                        <td>Lisa Doe</td>
                      </tr>   
                    </tbody>
                  </table>
                </div>
              </div>
    </section>
</div>